<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>login</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Bundle.UserAccess.Servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Bundle.UserAccess.Servlets.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>5</session-timeout>
    </session-config>
    
    <filter>
        <filter-name>AuthenticationRequiredFilter</filter-name>
        <filter-class>Bundle.UserAccess.Servlets.Filter.AuthenticationRequiredFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>AuthenticationRequiredFilter</filter-name>
        <url-pattern>/private/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>AuthenticationRequiredFilter</filter-name>
        <url-pattern>/logged-main.jsp</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>RoleRequiredFilter</filter-name>
        <filter-class>Bundle.UserAccess.Servlets.Filter.RoleRequiredFilter</filter-class>
        <init-param>
            <param-name>page-1.jsp</param-name>
            <param-value>PAGE_1_VIEWER</param-value>
        </init-param>
        <init-param>
            <param-name>page-2.jsp</param-name>
            <param-value>PAGE_2_VIEWER</param-value>
        </init-param>
        <init-param>
            <param-name>page-3.jsp</param-name>
            <param-value>PAGE_3_VIEWER</param-value>
        </init-param>
    </filter>
    
    <filter-mapping>
        <filter-name>RoleRequiredFilter</filter-name>
        <url-pattern>/private/*</url-pattern>
    </filter-mapping>

    <error-page>
        <error-code>403</error-code>
        <location>/error/forbidden.jsp</location>
    </error-page>

</web-app>
